@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", "roboto";
}

main {
  background-color: #b4a175;
}

.navbar-stylos {
  background-color: #182945;
  margin: 0px;
}

.enlace-boton {
  color: #e7c885;
}

.enlace-boton:hover {
  background-color: #e7c885;
  color: #182945;
  border-radius: 5px;
}

.btn {
  color: #e7c885;
  border-color: #e7c885;
}

.btn:hover {
  color: #182945;
  background-color: #e7c885;
}

.btn-registro {
  background-color: #182945;
}

.boton-collapse {
  background-color: #e7c885;
}
