* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  color: rgb(146, 81, 7);
}
.parrafo {
  font-style: italic;
  font-weight: 500;
}
